  <div class="card">
    <%= link_to image_tag(book.image, class: :card__img ), book_path(book.id)%>
    <div class="card__body">
      <%= "タイトル" %><%= link_to book.title, book_path(book.id), class: :card__title%>
      <p class="card__summary">
        <%= "著者：" %><%= book.author %>
      </p>
      <p class="card__summary">
        <%= "料金：" %><%= book.price %><%= "円" %>
      </p>
      <p class="card__summary">
        <%= "出版社：" %><%= book.publisher %>
      </p>
      <p class="card__summary">
        <%= "ジャンル：" %><%= book.genre.name %>
      </p>
      <p class="card__summary">
        <%= "本の投稿者名：" %><%= link_to "本の投稿者名", root_path, class: :user_name %>
      </p>
    </div>
  </div>

  <%# "#{ current_user.nickname }" %>